webservices-client/src/resources/wsdl/products.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ourproducts.de" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.ourproducts.de" name="ProductService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.ourproducts.de" schemaLocation="http://localhost:8081/webservices-1.0/ProductService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listAllProducts">
<part name="parameters" element="tns:listAllProducts"></part>
</message>
<message name="listAllProductsResponse">
<part name="parameters" element="tns:listAllProductsResponse"></part>
</message>
<message name="listProductCategories">
<part name="parameters" element="tns:listProductCategories"></part>
</message>
<message name="listProductCategoriesResponse">
<part name="parameters" element="tns:listProductCategoriesResponse"></part>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"></part>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"></part>
</message>
<portType name="Product">
<operation name="listAllProducts">
<input wsam:Action="list" message="tns:listAllProducts"></input>
<output wsam:Action="http://www.ourproducts.de/Product/listAllProductsResponse" message="tns:listAllProductsResponse"></output>
</operation>
<operation name="listProductCategories">
<input wsam:Action="categories" message="tns:listProductCategories"></input>
<output wsam:Action="http://www.ourproducts.de/Product/listProductCategoriesResponse" message="tns:listProductCategoriesResponse"></output>
</operation>
<operation name="addProduct">
<input wsam:Action="add" message="tns:addProduct"></input>
<output wsam:Action="http://www.ourproducts.de/Product/addProductResponse" message="tns:addProductResponse"></output>
</operation>
</portType>
<binding name="ProductPortBinding" type="tns:Product">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="listAllProducts">
<soap:operation soapAction="list"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listProductCategories">
<soap:operation soapAction="categories"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction="add"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ProductService">
<port name="ProductPort" binding="tns:ProductPortBinding">
<soap:address location="http://localhost:8081/webservices-1.0/ProductService"></soap:address>
</port>
</service>
</definitions>